@use "~easy-theme" as theme;

$borderStyle: 1px solid theme.Text('background', .15);

.MenuRow {
    display: flex;
    align-items: center;
    border-bottom: $borderStyle;
    font-size: 1.2rem;
    line-height: 1.2rem;
    min-height: 1.25rem;
    overflow: hidden;

    --accent: #{theme.Text('background')};
    --accentContrast: #{theme.Color('background')};
}

.MenuRow_style_Environment {
    --accent: #{theme.Color('studioEnvironment')};
    --accentContrast: #{theme.Text('studioEnvironment')};
}

.MenuRow_style_Device {
    --accent: #{theme.Color('studioDevice')};
    --accentContrast: #{theme.Text('studioDevice')};
}

.MenuRow_style_Camera {
    --accent: #{theme.Color('studioCamera')};
    --accentContrast: #{theme.Text('studioCamera')};
}

.MenuRow_style_General {
    --accent: #{theme.Color('studioGeneral')};
    --accentContrast: #{theme.Text('studioGeneral')};
}

.MenuRow_header {
    font-size: 1.5rem;
    line-height: 1.4rem;
    font-weight: bold;
    background-color: var(--accent);
    color: var(--accentContrast);
    border-bottom: none;
    z-index: 1;

    @include theme.Mobile {
        position: sticky;
        top: 0;
    }
}

.MenuRow_label {
    padding: 0.5rem 0.75rem 0.75rem;
    flex: 1;

    &:not(:last-child) {
        border-right: $borderStyle;
        margin-right: .75rem;
    }
}