@use "~easy-theme" as theme;

.TestPage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;

    @include theme.Mobile {
        flex-direction: column-reverse;
    }
}

.TestPage_Sidebar {
    flex-basis: 30%;
    height: 100%;
}

.TestPage_Canvas {
    flex-basis: 70%;
    height: 100%;
    position: relative;

    canvas {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
}